
@using MiLai.Wap.Res
@using MiLai.Tools
@using MiLai.Wap.Controllers;

@{
    Layout = "~/Views/Shared/_Layout_old.cshtml";
    ResGetListProductDetail2 Detail = ViewBag.Detail;

    //轮播图
    List<ResProductAlbum> AlbumList = Detail.ProductAlbum;
    //促销信息
    List<ResPromotion> PromotionInfo = Detail.PromotionInfo;
    //促销信息列表
    List<ResPromotion> PromotionList = Detail.PromotionList;
    //店铺信息
    ResStore Store = Detail.Store;
    //规格
    List<ResSpecification> Specification = Detail.Specification;
    //产品项
    List<ResProductItem> ProductItemList = Detail.ProductItem;

    //获取二级域名
    string domain = HttpContext.Current.Request.Url.Host;
    //
    string wapDomain = MiLai.Tools.ToolsExtensions.GetConfigKey("PayDomain");
    string streetName = ToolsExtensions.GetConfigKey("StreetName");
    //获取JS,Css版本号
    string version = ToolsExtensions.GetConfigKey("JsCssVersion");

    string url = HttpContext.Current.Request.Url.AbsoluteUri.ToLower().Trim();

    ViewBag.Title = "商品详情";
}

@section CssCode{
    <link rel="stylesheet" href="/css/libs/idangerous.swiper.css">
    <link rel="stylesheet" href="/css/goods/goodsdetails.css?v3=@version">
    <link rel="stylesheet" href="/css/Activity/kanjia_liebiao.css">
    <link rel="stylesheet" href="/css/photoswipe/photoswipe.min.css">
    <link rel="stylesheet" href="/css/photoswipe/default-skin.min.css">
}

@{Html.RenderPartial("downloadBar", "Shared");}

    <input type="hidden" id="UserActivityTBID" value="@Detail.UserActivityTBID" />
    <input type="hidden" id="ProductID" value="@Detail.ProductTBID" />
    <input type="hidden" id="StoreID" value="@Store.ID" />
    <input type="hidden" id="FocusID" value="@Detail.FocusTBID" />
    <input type="hidden" id="ActivityID" value="@Detail.ActivityID" />

    <div class="goodsHeader download-fix J-videoplay-hide">
        <a href="javascript:history.back(-1)" class="goodsBack topIcon"><i class="iconfont">&#xe62f;</i></a>
        <a href="/Cart/ShoppingCart?fromdetail=1" class="cart topIcon"><i class="iconfont">&#xe602;</i></a>
        <a href="javascript:" class="dot topIcon topIconClk"><i class="iconfont">&#xe634;</i></a>
    </div>

    <!--轮播图-->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            @if (AlbumList != null && AlbumList.Count > 0)
            {
                if (!string.IsNullOrEmpty(Detail.VideoUrl)) {
                    <div class="swiper-slide video-pic">
                        <video controls width="100%" height="100%" webkit-playsinline="true" playsinline="true" x5-playsinline="" x-webkit-airplay="true" x5-video-player-type="h5" x5-video-player-fullscreen="false" x5-video-orientation="portraint" controlslist="nofullscreen nodownload" style="display: none;background-color: #000;">
                            <source src="@Detail.VideoUrl" type="video/mp4" />
                            您的浏览器不支持视频播放
                        </video>
                        <div class="video-mask" style="position:absolute;left:0;top:0;width: 100%;height:100%;background:rgba(0,0,0,1); display:none;">
                            <canvas id="myCanvas" style="position: absolute;left: 0;top: 50%;transform: translateY(-50%);">
                                您的浏览器不支持 h5 的 canvas 标签
                            </canvas>
                            <i class="icon-play2" style="position:absolute;left:50%;top:50%;margin-left: -0.60rem;margin-top: -0.60rem;font-size: 1.20rem;color: rgba(0, 0, 0, .3)"></i>
                        </div>
                    </div>
                }

                foreach (var i in AlbumList)
                {
                    <div class="swiper-slide J-slide"><a class="view-pic J-view" href="javascript:;"><img src="@i.ImageUrl"></a></div>
                }
            }
        </div>
        <div class="pagination J-videoplay-hide"></div>
    </div>

    @if (Detail.IsBargain.ToString().ToLower() == "true")//是砍价
    {
        <div class="huodon_kanjia">
            <p class="dijia_p1">底价:<span>￥@Detail.Price_End</span></p>
            <p class="jirencanjia_p"><i>￥@Detail.MinPriceMart</i><span>@Detail.JoinCount 人已参加</span></p>
            <div class="kanjia_daojishi">
                <input type="hidden" id="second" value="@ViewBag.second" />
                <p>距离活动结束</p>
                <span id="day_show" class="kanjia_day">0天</span>
                <span></span>
                <strong id="hour_show" class="kanjia_xiaoshi">00</strong>
                <span class="kanjia_diandian1">:</span>
                <strong id="minute_show" class="kanjia_fenzho">00</strong>
                <span class="kanjia_diandian1">:</span>
                <strong id="second_show" class="kanjia_miao">00</strong>
            </div>
        </div>

        <div class="bac padTop">
            <div class="goodsText">
                <span class="introduction">@Detail.Name</span>
                @if (Detail.ActivityInfo != null && Detail.ActivityInfo.Count > 0)
                {
                    foreach (var i in Detail.ActivityInfo)
                    {
                        <span class="xianshi_biaoqian">@i.ActivityTypeName</span>
                    }
                }
            </div>
        </div>
    }
    else if (Detail.IsLimitTime.ToString().ToLower() == "true")//是限时活动
    {
        <!--限时折扣-->
        if (!string.IsNullOrEmpty(Detail.EndTime))
        {
            if (ViewBag.IsStart == "true")
            {
                //进行中
                <div class="priceInterval">
                    <div class="singlePrice">
                        <div>
                            @if (Detail.MinPrice != Detail.MaxPrice)
                            {
                                <span class="price ">￥<em class="singlePriceSize">@Detail.MinPrice</em></span> @Html.Raw("－") <span class="price "><em class="singlePriceSize">@Detail.MaxPrice</em></span>
                            }
                            else
                            {
                                <span class="price ">￥<em class="singlePriceSize">@Detail.MinPrice</em></span>
                            }
                        </div>
                        <div class="intervalMar">
                            @if (Detail.MinPriceMart != Detail.MaxPriceMart)
                            {
                                <i class="intervalOldPrice">￥@Detail.MinPriceMart</i> @Html.Raw("－") <i class="intervalOldPrice">￥@Detail.MaxPriceMart</i>
                            }
                            else
                            {
                                <i class="intervalOldPrice">￥@Detail.MinPriceMart</i>
                            }
                            <span class="singleSell">已抢 @Detail.ActivityProductCount 件</span>
                        </div>
                    </div>
                    <em class="time-item right">
                        <input type="hidden" id="BeginTime" value="@Detail.StartTime" />
                        <input type="hidden" id="EndTime" value="@Detail.EndTime" />
                        <input type="hidden" id="SysNowTime" value="@Detail.NowTime" />
                        <input type="hidden" id="second" value="@ViewBag.second" />
                        <span class="overTime center">距离结束</span>
                        <span id="day_show">0天</span>
                        <span></span>
                        <strong id="hour_show">00</strong>
                        <span>:</span>
                        <strong id="minute_show">00</strong>
                        <span>:</span>
                        <strong id="second_show">00</strong>
                    </em>
                </div>
            }
            else
            {
                //未开始
                <div class="priceIntervalGreen">
                    <div class="singlePrice">
                        <div>
                            @if (Detail.MinPrice != Detail.MaxPrice)
                            {
                                <span class="price ">￥<em class="singlePriceSize">@Detail.MinPrice</em></span> @Html.Raw("－") <span class="price "><em class="singlePriceSize">@Detail.MaxPrice</em></span>
                            }
                            else
                            {
                                <span class="price ">￥<em class="singlePriceSize">@Detail.MinPrice</em></span>
                            }
                        </div>
                        <div class="intervalMar">
                            @if (Detail.MinPriceMart != Detail.MaxPriceMart)
                            {
                                <i class="intervalOldPrice">￥@Detail.MinPriceMart</i> @Html.Raw("－") <i class="intervalOldPrice">￥@Detail.MaxPriceMart</i>
                            }
                            else
                            {
                                <i class="intervalOldPrice">￥@Detail.MinPriceMart</i>
                            }
                            <span class="singleSell">已抢 @Detail.ActivityProductCount 件</span>
                        </div>
                    </div>
                    <em class="time-item right">
                        <input type="hidden" id="BeginTime" value="@Detail.StartTime" />
                        <input type="hidden" id="EndTime" value="@Detail.EndTime" />
                        <input type="hidden" id="SysNowTime" value="@Detail.NowTime" />
                        <input type="hidden" id="second" value="@ViewBag.second" />
                        <span class="overTime center">距离开抢</span>
                        <span id="day_show">0天</span>
                        <span></span>
                        <strong id="hour_show">00</strong>
                        <span>:</span>
                        <strong id="minute_show">00</strong>
                        <span>:</span>
                        <strong id="second_show">00</strong>
                    </em>
                </div>
            }
            <div class="bac padTop">
                <div class="goodsText">
                    <span class="introduction">@Detail.Name</span>
                    @if (Detail.ActivityInfo != null && Detail.ActivityInfo.Count > 0)
                    {
                        foreach (var i in Detail.ActivityInfo)
                        {
                            <span class="xianshi_biaoqian">@i.ActivityTypeName</span>
                        }
                    }
                </div>
            </div>
        }
    }
    else if (Detail.IsLimitedQuantity.ToString().ToLower() == "true")//是限量活动
    {
        <div class="priceInterval">
            <div class="singlePrice">
                <div>
                    @if (Detail.MinPrice != Detail.MaxPrice)
                    {
                        <span class="price ">￥<em class="singlePriceSize">@Detail.MinPrice</em></span> @Html.Raw("－") <span class="price "><em class="singlePriceSize">@Detail.MaxPrice</em></span>
                    }
                    else
                    {
                        <span class="price ">￥<em class="singlePriceSize">@Detail.MinPrice</em></span>
                    }
                </div>
                <div class="intervalMar">
                    @if (Detail.MinPriceMart != Detail.MaxPriceMart)
                    {
                        <i class="intervalOldPrice">￥@Detail.MinPriceMart</i> @Html.Raw("－") <i class="intervalOldPrice">￥@Detail.MaxPriceMart</i>
                    }
                    else
                    {
                        <i class="intervalOldPrice">￥@Detail.MinPriceMart</i>
                    }
                </div>

            </div>
            <span class="yisou_duoshao">@Detail.StrSales</span>
            <span class="gong_duoshao">@Detail.StrLimitedQuantity</span>
        </div>
        <div class="bac padTop">
            <div class="goodsText">
                @if (ViewBag.IsStart == "false")
                {
                    @*<em class="time-item right" style="margin-bottom:0.1rem; display:block; text-align:left; color: #FC3A43;">
                        <input type="hidden" id="BeginTime" value="@Detail.StartTime" />
                        <input type="hidden" id="EndTime" value="@Detail.EndTime" />
                        <input type="hidden" id="SysNowTime" value="@Detail.NowTime" />
                        <input type="hidden" id="second" value="@ViewBag.second" />
                        <span class="overTime center">距离秒杀开始:</span>
                        <span id="day_show">0 天</span>
                        <span></span>
                        <strong id="hour_show">00</strong>
                        <span>时</span>
                        <strong id="minute_show">00</strong>
                        <span>分</span>
                        <strong id="second_show">00</strong>
                        <span>秒</span>
                    </em>*@
                }
                <span class="introduction">@Detail.Name</span>
                @if (Detail.ActivityInfo != null && Detail.ActivityInfo.Count > 0)
                {
                    foreach (var i in Detail.ActivityInfo)
                    {
                        <span class="xianshi_biaoqian">@i.ActivityTypeName</span>
                    }
                }
            </div>
        </div>
    }
    else if (Detail.IsGroupon.ToString().ToLower() == "true")//是拼团活动
    {
        if (Detail.GrouponMode.ToLower() == "false")//单层团
        {
            <div class="bac padTop">
                <div class="goodsText">
                    <span class="introduction">@Detail.Name</span>

                    <p class="padTop"><span class="preferentialOld">原价:￥@Detail.MinPriceMart</span></p>
                    <p style="color:#ff3231;"><span class="pingtuan_jia_span">拼团价</span>￥@Detail.MinPrice</p>
                </div>
            </div>
        }
        else if (Detail.GrouponMode.ToLower() == "true")//阶梯团
        {
            <div class="bac padTop">
                <div class="goodsText">
                    <span class="introduction">@Detail.Name</span>

                    <p class="padTop"><span class="preferentialOld">原价:￥@Detail.MinPriceMart</span></p>
                    <p>
                        @if (Detail.TierPrice != null && Detail.TierPrice.Count > 0)
                        {
                            int num = 0;
                            foreach (var i in Detail.TierPrice)
                            {
                                num++;
                                if (num == 1)
                                {
                                    <span class="pingtuan_jia_span">拼团价</span> @Html.Raw("" + i.PersonNumber + " 人以上 ￥" + i.Price + "")
                                }
                                else
                                {
                                <p style="text-indent:0.98rem;">@i.PersonNumber 人以上 ￥@i.Price</p>
                                }
                            }
                        }
                        </p>
                    </div>
                </div>
        }
    }

    else//满优惠 普通
    {
        <div class="bac padTop">
            <div class="goodsText">
                <span class="introduction">@Detail.Name</span>
                @if (Detail.ActivityInfo != null && Detail.ActivityInfo.Count > 0)
                {
                    foreach (var i in Detail.ActivityInfo)
                    {
                        <span class="xianshi_biaoqian">@i.ActivityTypeName</span>
                    }
                }
                <p class="padTop"><span class="price ">￥<em class="singlePriceSize">@(Detail.MinPrice==""? "0.00": Detail.MinPrice)</em></span><span class="preferentialOld">￥@Detail.MinPriceMart</span></p>
            </div>
        </div>
    }

    <ul class="freightUl bac">
        <li class="left">运费:￥@Detail.ExpressFee</li>
        @if (Detail.IsInventory.ToString().ToLower() == "true")
            {
            <li class="center">库存:@Detail.Inventory 件</li>
        }
        else
        {
            if (Detail.Inventory.ToDecimal() > Detail.InventoryPrompt.ToDecimal())
            {
                <li class="center">库存:充足</li>
            }
            else
            {
                <li class="center">库存紧张</li>
            }
        }
        @if (Detail.IsGroupon.ToString().ToLower() == "true")//拼团
        {
            <li class="right"><span>@Detail.StrSales</span></li>
        }
        else
        {
            if (Detail.IsSpreadCommission.ToString().ToLower() == "true")
            {
                <li class="right"><span  onclick="btnSave()">分享有赏</span></li>
            }
        }
    </ul>

    @if (!string.IsNullOrEmpty(Detail.ExpressTemplateAreaLimit))
    {
        <div class="maggle">
            <img src="~/images/Warning2x.png" />
            @Detail.ExpressTemplateAreaLimit
        </div>
    }

    @if (!string.IsNullOrEmpty(Detail.CouponInfo))
    {
        <div class="select marTop marBottom bac selectCard">
            <p>
                <span style="background-color:#fce6e7;color:#fc3a43; width:0.76rem;height:0.34rem;line-height:0.34rem;display:inline-block;text-align:center;font-size:0.22rem;border-radius:0.04rem;">粮票</span>
                @Detail.CouponInfo
            </p>
            <i class="iconfont selectIcon">&#xe61a;</i>
        </div>
    }

    <!--限时折扣-->
    @if (PromotionInfo != null && PromotionInfo.Count > 0)
    {
        <div class="specificationDiv bac">
            <div class="sellName">
                <span>促销</span>
            </div>
            <div class="sell">
                @if (PromotionInfo != null && PromotionInfo.Count > 0)
                {
                    foreach (var i in PromotionInfo)
                    {
                        <p><span class="snapColor">@i.PromotionTypeName</span><span class="sellDescribe">@i.PromotionInfo</span></p>
                    }
                }
                <i class="iconfont sellNext">&#xe61a;</i>
                <div class="clear-both"></div>
            </div>
            <div class="clear-both"></div>
        </div>
    }

    @if (Detail.OnShelfType == "1002")
    {
        <div class="select marTop marBottom bac selectColor">
            <p>
                选择
                @if (Specification != null && Specification.Count > 0)
                {
                    for (int i = 0; i < Specification.Count - 1; i++)
                    {
                        @Specification[i].SpecificationName @Html.Raw("/")
                    }
                    @Specification[Specification.Count - 1].SpecificationName
                }
            </p>
            <i class="iconfont selectIcon">&#xe61a;</i>
        </div>
    }
    @if (Detail.IsShowEvaluation.ToString().ToLower() == "true")
    {
        <div class="select marTop marBottom bac">
            <a href="javascript:">
                <p>商品评价</p>
                <span class="appraiseNumber right">@Detail.EvaluationProductCount 条评价</span>
                <i class="iconfont selectIcon">&#xe61a;</i>
            </a>
        </div>
    }
    @if (Detail.IsBargain.ToString().ToLower() == "true")//是砍价
    {
        <div class="kanjia_ren">
            <img class="kanjia_rentou" src="@Detail.UserBargainInfo.HeadImageUrl" />
            <p class="kanjia_rentou_name">@Detail.UserBargainInfo.NickName</p>
            <p>已砍至:<span class="kanjia_kanzhi">￥@Detail.UserBargainInfo.Price_New</span></p>
            <p class="kanjia_kucun">库存:@Detail.UserBargainInfo.Inventory</p>
            @if (Detail.UserBargainInfo.Number.ToDecimal() >= 1)
            {
                <span class="kanjia_canyu">已参与</span>
            }
            else
            {
                <span class="kanjia_canyu">未参与</span>
            }
            <span class="kanjia_bangkan">@Detail.UserBargainInfo.Number 人帮砍</span>
        </div>
    }

    @if (Detail.IsBargain.ToString().ToLower() == "true" && Detail.IsUserBargain.ToString().ToLower() == "true")//是砍价 而且用户已砍
    {
        <div class="guizhe_mingdan">
            <div class="kanjia_guizhe_xiangqing">
                <span>
                    <span>砍价规则</span>
                    <i class="iconfont selectIcon">&#xe61a;</i>
                </span>
            </div>
            <div class="kanjia_mingdan_xiangqing" onclick="window.location.href = '/Bargain/BargainNameList?UserActivityTBID=@Detail.UserActivityTBID'">
                <span>
                    <span>帮砍名单</span>
                    <i class="iconfont selectIcon">&#xe61a;</i>
                </span>
            </div>
        </div>
    }

    @if (Detail.IsGroupon.ToString().ToLower() == "true")
    {
        <div class="group_people_div">
            <div class="group_people">
                <span>
                    <span>@Detail.SUMPersonNumber 人正在拼单</span>
                    <i class="iconfont selectIcon">查看更多&#xe61a;</i>
                </span>
            </div>
            @if (Detail.GrouponInfo != null && Detail.GrouponInfo.Count > 0)
            {
                foreach (var i in Detail.GrouponInfo)
                {
                    DateTime dt1 = i.EndTime.ToDateTime();
                    DateTime dt2 = i.NowSysTime.ToDateTime();
                    TimeSpan ts = dt1.Subtract(dt2);
                    <div class="group_mingdan">
                        <div class="group_mingdan_touxiang"><img src="@i.HeadImageUrl" /></div>
                        <span class="group_mingdan_nicheng">@i.NickName</span>
                        <div class="right_group_mingdan">
                            <input type="hidden" class="second" value="@ts.TotalSeconds.ToInt()" />
                            <span class="group_daojishi">
                                还差<i>@i.LackNumber</i>人,剩余
                                <span class="day_show">0天</span>
                                <span></span>
                                <strong class="hour_show">00</strong>
                                <span>:</span>
                                <strong class="minute_show">00</strong>
                                <span>:</span>
                                <strong class="second_show">00</strong>
                            </span>
                            <div class="qu_chotuan tanchu_pingtuan_3" id="@i.UserActivityTBID">去凑团</div>
                        </div>
                    </div>
                }
            }
        </div>

        <div class="group_guizhe">
            <div class="group_guizhe_div" onclick="window.location.href='/Group/GroupRule?isWap=1'">
                <span>
                    <span>拼团规则</span>
                    <i class="iconfont selectIcon">查看更多&#xe61a;</i>
                </span>
            </div>
            <div class="group_buzou">
                <span>选择心仪商品</span>
                <i class="iconfont selectIcon group_buzou_jiantou">&#xe61a;</i>
                <span>支持开团或参团</span>
                <i class="iconfont selectIcon group_buzou_jiantou">&#xe61a;</i>
                <span>等待好友参团支持</span>
                <i class="iconfont selectIcon group_buzou_jiantou">&#xe61a;</i>
                <span>达到人数团购成功</span>
            </div>
        </div>
    }

    <div class="shop bac">
        <img src="@Store.Logo" alt="" class="shopPhoto">
        <span class="shopName">@Store.NameCN</span>
        @if (new Common().isWap(url) || url.Contains(ToolsExtensions.GetConfigKey("CheckWxWapUrl")))//如果是wap 或 总商户
        {
            <a href="/Store/StoreDetails?StoreID=@Store.ID" class="enterShop center">进入店铺</a>
        }
        else
        {
            <a href="/index/index" class="enterShop center">进入店铺</a>
        }
    </div>
    <ul class="allGoods bac padTop padBottom">
        <li class="center">
            <span>@Store.ProductCount</span>
            <p>全部商品</p>
        </li>
        <li class="center">
            <span>@Store.ProductNewCount</span>
            <p>上新商品</p>
        </li>
        <li class="center">
            <span>@Store.ProductRecommendCount</span>
            <p>推荐商品</p>
        </li>
        <li class="center">
            <p>商品描述 <i>@Store.DescriptionMatch</i></p>
            <p>卖家服务 <i>@Store.SellerService</i></p>
            <p>物流服务 <i>@Store.DeliveryService</i></p>
        </li>
    </ul>
    <div class="hrHeight">
        <hr class="goOnHr">
        <p class="goOn center">继续拖动，查看图文详情</p>
    </div>
    <div class="bac">
        <p class="left goodsDetails">商品详情</p>
    </div>
    <div class="goodsList goodsListImg">
        @Html.Raw(Detail.DescriptionMobile)
    </div>
    <div class="bac">
        <p class="left goodsDetails">更多精选</p>
    </div>
    <ul class="content merchantDetailList vertical"></ul>
    <div class="pullOn center">
        <img src="/images/Activity/loading.gif" alt="">
        <span>上拉加载更多</span>
    </div>
    @if (Detail.OnShelfType == "1001" || Detail.OnShelfType == "1000")
    {
        <span class="shelves center">商品已下架</span>
    }
    <ul class="merchantFooter bac">
        <li class="merchantFooterLi">
            <ul class="merchantUl">
                <li class="center kefutubiao">
                    <i class="iconfont">&#xe60c;</i>
                    <span>客服</span>
                </li>
                <li class="center">
                    @if (new Common().isWap(url) || url.Contains(ToolsExtensions.GetConfigKey("CheckWxWapUrl")))//如果是wap 或 总商户
                    {
                        <a href="/Store/StoreDetails?StoreID=@Store.ID">
                            <i class="iconfont">&#xe639;</i>
                            <span>店铺</span>
                        </a>
                    }
                    else
                    {
                        <a href="/Index/Index">
                            <i class="iconfont">&#xe639;</i>
                            <span>店铺</span>
                        </a>
                    }
                </li>
                @if (Detail.FocusTBID == "0" || Detail.FocusTBID == "")
                {
                    <li class="center collect">
                        <i class="iconfont">&#xe64f;</i>
                        <span>收藏</span>
                    </li>
                }
                else
                {
                    <li class="center collect collectColor">
                        <i class="iconfont">&#xe64f;</i>
                        <span>已收藏</span>
                    </li>
                }
            </ul>
        </li>
        @if (Detail.IsBargain.ToString().ToLower() == "true")//砍价
        {
            if (string.IsNullOrEmpty(Request.QueryString["UserActivityTBID"]))//自己砍
            {
                if (Detail.IsUserBargain.ToString().ToLower() == "false")//未砍价
                {
                    <div class="kanjia_goumai kanjia" onclick="bargain()">立即砍价</div>
                }
                else//已砍价
                {
                    <!--立即购买-->
                    <div class="liji_goumai">
                        <span class="liji_goumai_span lijigoumai">立即购买</span>
                        <span class="zhaoren_bangkan kanjiashare" onclick="WxShare('@Detail.ShareInfo_KJ.Title', '@Detail.ShareInfo_KJ.Content', '@Detail.ShareInfo_KJ.ImgUrl', '@(Detail.ShareInfo_KJ.Link.ToLower().Replace(wapDomain, domain))');">找人帮砍</span>
                    </div>
                }
            }
            else//帮砍
            {
                if (ViewBag.UserID == Request.QueryString["UserID"])//自己点进去
                {
                    <!--立即购买-->
                    <div class="liji_goumai">
                        <span class="liji_goumai_span lijigoumai">立即购买</span>
                        <span class="zhaoren_bangkan kanjiashare" onclick="WxShare('@Detail.ShareInfo_KJ.Title', '@Detail.ShareInfo_KJ.Content', '@Detail.ShareInfo_KJ.ImgUrl', '@(Detail.ShareInfo_KJ.Link.ToLower().Replace(wapDomain, domain))');">找人帮砍</span>
                    </div>
                }
                else//别人点进去
                {
                    if (Detail.IsUserBargain.ToString().ToLower() == "false")//未砍价
                    {
                        <div class="liji_goumai">
                            <span class="liji_goumai_span kanjia" onclick="bargain()">帮他砍价</span>
                            <span class="zhaoren_bangkan" onclick="gotoBargain()">立即砍价</span>
                        </div>
                    }
                    else//已砍价
                    {
                        <div class="liji_goumai">
                            <span class="liji_goumai_span kanjiashare" onclick="WxShare('@Detail.ShareInfo_KJ.Title', '@Detail.ShareInfo_KJ.Content', '@Detail.ShareInfo_KJ.ImgUrl', '@(Detail.ShareInfo_KJ.Link.ToLower().Replace(wapDomain, domain))');">找朋友帮他砍</span>
                            <span class="zhaoren_bangkan" onclick="gotoBargain()">立即砍价</span>
                        </div>

                    }
                }
            }
        }
        else if (Detail.IsGroupon.ToString().ToLower() == "true")//拼团
        {
            if (Detail.IsIntoChief.ToString().ToLower() == "true")//可以成为团长
            {
                //单独购买，，，10人团
                <div class="dandu_goumai">
                    <span class="dandu_goumai_span tanchu_pingtuan_2">
                        <span>￥@Detail.MinPriceMart</span>
                        <span>单独购买</span>
                    </span>
                    <span class="dandu_goumai_span2 tanchu_pingtuan_1">
                        <span>￥@Detail.MinPrice</span>
                        <span>@Detail.PersonNumber 人团</span>
                    </span>
                </div>
            }
            else
            {
                //团长名额已满 去凑团
                <div class="dandu_goumai">
                    <span class="dandu_goumai_span tanchu_pingtuan_2">
                        <span>￥@Detail.MinPriceMart</span>
                        <span>单独购买</span>
                    </span>
                    <span class="dandu_goumai_span2">
                        <span>团长名额已满</span>
                        <span>去凑团</span>
                    </span>
                </div>
            }
        }
        else//不是砍价 不是拼团
        {
            if (Detail.OnShelfType == "1001" || Detail.OnShelfType == "1000")//下架
            {
                <li class="merchantFooterLi">
                    <ul class="merchantButton">
                        <li class="center  joinShopCartNo">加入购物车</li>
                        <a href="javascript:"><li class="center  buyNowNo">立即购买</li></a>
                    </ul>
                </li>
            }
            else//上架
            {
                <li class="merchantFooterLi">
                    <ul class="merchantButton">
                        <li class="center  joinShopCart">加入购物车</li>
                        <a href="javascript:"><li class="center  buyNow">立即购买</li></a>
                    </ul>
                </li>
            }
        }

    </ul>


    <!--砍价弹出-->
    <div class="kanjia_tanchu">
        <div>
            <img class="kanjia_kanqian_tu" src="~/images/Activity/kan_qian.png" />
            <p>您砍掉了￥1.01</p>
            <span class="kanjia_zhidaola">我知道了</span>
        </div>
    </div>

    <!--更多拼团-->
    <div class="group_tanchu">
        <div>
            <div class="biaoti_group_tanchu">
                正在拼团
                <img class="shop-close_1" src="../images/close.png" alt="关闭">
            </div>
            <div id="gengduopintuan">
                @*<div class="group_mingdan">
                        <div class="group_mingdan_touxiang"><img src="~/images/touxiang3.png" /></div>
                        <span class="group_mingdan_nicheng">昵称</span>
                        <div class="right_group_mingdan">
                            <span class="group_daojishi">
                                还差<i>1</i>人,剩余
                                <strong id="hour_show">00</strong>
                                <span>:</span>
                                <strong id="minute_show">00</strong>
                                <span>:</span>
                                <strong id="second_show">00</strong>
                            </span>
                            <div class="qu_chotuan">去凑团</div>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>

    <!--分享-->
    <div class="fenxiang_div">
        <img src="~/images/Activity/fen_xiang.png" />
    </div>

    <!--促销弹出层--><!--满优惠-->
    <div class="sellAlertDiv">
        <div class="sellAlert">
            <div class="sellHeader">
                <h2 class="center">促销</h2>
                <i class="iconfont center closedSell">&#xe649;</i>
            </div>
            <ul class="sellContent preferential">
                @if (PromotionList != null && PromotionList.Count > 0)
                {
                    string name = "446464";
                    foreach (var i in PromotionList)
                    {
                        <li @if (i.PromotionTypeName=="") { @Html.Raw("style=\'border-bottom: 1px solid #eaeaea;padding-bottom: 0.7rem;\'"); }>
                    @if (i.PromotionTypeName != name)//如果不存在
                            {
                            name = i.PromotionTypeName;
                            if (i.PromotionTypeName == "")
                            {
                                    <span class="snapColor" style="color:#666; border:none;">活动时间:</span>
                                }
                                else
                                {
                                    <span class="snapColor" style="">@i.PromotionTypeName</span>
                                }
                            }
                            else//如果已存在
                            {
                                if (i.PromotionTypeName == "")
                                {
                                    <span class="snapColor" style="color:#666; border:none;">活动时间:</span>
                                }
                                else
                                {
                                    <span class="snapColor" style="color:#fff;border:none;">@i.PromotionTypeName</span>
                                }
                            }
                            <span class="sellAlertDescribe">
                                <span class="vouchers sellOmit">@Html.Raw(i.PromotionInfo.Replace(";","</br>") ) </span>
                                @if (i.ActivityGift != null && i.ActivityGift.Count > 0)
                                {
                                    foreach (var j in i.ActivityGift)
                                    {
                                        <span class="position">
                                            <span class="sellOmit sellOmitGift"><i class="giftName">赠品</i><em>@j.GiftName</em></span>
                                            <i class="iconfont sellNext sellNextGift">&#xe61a;</i>
                                        </span>
                                    }
                                }
                            </span>
                        </li>
                    }
                }
            </ul>

        </div>
    </div>



    @if (ProductItemList != null && ProductItemList.Count > 0)
    {
        foreach (var i in Detail.ProductItem)
        {
            <input type="hidden" name="ProductItemTBID" id="@i.ProductItemTBID" value="@i.ProductItemTBID" />
            <input class="hideImg" type="hidden" name="ImageUrl" id="ImageUrl_@i.ProductItemTBID" value="@i.ImageUrl" title="@i.SpecificationValue" />
            <input type="hidden" name="Price" id="Price_@i.ProductItemTBID" value="@i.Price" />
            <input type="hidden" name="Inventory" id="Inventory_@i.ProductItemTBID" value="@i.Inventory" />
            <input type="hidden" name="InventoryPrompt" id="InventoryPrompt_@i.ProductItemTBID" value="@i.InventoryPrompt" />
            <input type="hidden" name="Rebate" id="Rebate_@i.ProductItemTBID" value="@i.RebateAmount" />
        }
    }
    <!--规格弹出层-->
    <div class="shop-category">
        <div class="shop-category-ml">
            <ul class="shop-category-ml-body">
                <li class="shop-category-ml-body-mc">
                    <!--商品信息：商品图片+商品价格+商品库存-->
                    @if (ProductItemList != null && ProductItemList.Count > 0)
                    {
                        <div class="shop-category-ml-body-mc-xx">
                            <img class="category-img" src="@ProductItemList[0].ImageUrl" alt="产品名称">
                            <p class="shop-category-ml-body-mc-xx-jg">￥@ProductItemList[0].Price</p>
                            @if (ProductItemList[0].IsInventory.ToString().ToLower() == "true")
                            {
                                <p class="shop-category-ml-body-mc-xx-kc">库存<i>@ProductItemList[0].Inventory</i>件</p>
                            }
                            else
                            {
                                if (ProductItemList[0].Inventory.ToDecimal() > ProductItemList[0].InventoryPrompt.ToDecimal())
                                {
                                    <p class="shop-category-ml-body-mc-xx-kc">库存<i>充足</i></p>
                                }
                                else
                                {
                                    <p class="shop-category-ml-body-mc-xx-kc">库存<i>紧张</i></p>
                                }
                            }
                            @if (ProductItemList[0].RebateAmount.ToDecimal() > 0)
                            {
                                <div class="Rebate">返利：￥<span class="RebatePrice" id="itemRebate">@ProductItemList[0].RebateAmount</span></div>
                            }
                        </div>
                    }
                    <img class="shop-close" src="../images/close.png" alt="关闭">
                </li>
                <li>
                    <!--商品类型信息：商品颜色+类型-->
                    <div class="shop-category-ml-body-mc-type">
                        @if (Specification != null && Specification.Count > 0)
                        {
                            foreach (var i in Specification)
                            {
                                @i.SpecificationName
                                <ul class="shop-category-ul">
                                    @if (i.SpecificationValue != null && i.SpecificationValue.Count > 0)
                                    {
                                        int x = 0;
                                        foreach (var j in i.SpecificationValue)
                                        {
                                            x++;
                                            if (x == 1)
                                            {
                                                <li class="shop-category-ml-check" id="@j.SpecificationValueTBID" accesskey="@j.ProductItemID">@j.SpecificationValueName</li>
                                            }
                                            else
                                            {
                                                <li id="@j.SpecificationValueTBID" accesskey="@j.ProductItemID">@j.SpecificationValueName</li>
                                            }
                                        }
                                    }
                                </ul>
                            }
                        }
                    </div>
                    <!--商品数量信息：商品数量-->
                    <p class="shop-category-ml-body-mc-type-jj">
                        <input type="hidden" id="CardinalNumber" value="@Detail.CardinalNumber" />
                        数量
                        @if (Detail.SalesQuantityLimited != "0")//砍价和拼团,产品购买数量不能修改
                        {
                            <span>
                                <i style="color:#c4c4c4;">-</i>
                                <input type="tel" name="Mobile" id="num" readonly value="1" maxlength="4">
                                <i style="color:#c4c4c4;">+</i>
                            </span>
                        }
                        else
                        {
                            <span>
                                <i id="minus">-</i>
                                <input type="tel" name="Mobile" id="num" value="@Detail.CardinalNumber" onkeyup="value=value.replace(/[^\d]/g,'') " maxlength="4">
                                <i id="add">+</i>
                            </span>
                        }
                        </p>
                        </li>
                    </ul>
            <!--加入购物车+立即购买-->
            <div class="buy-add">
                @if (Detail.IsGroupon.ToString().ToLower() == "true")
                {
                    <a style="width:100%;background:#fc3a43;" class="dandu_goumai_span2" onclick="groupBuy('true')">
                        <span>确认</span>
                    </a>
                }
                else
                {
                    <a href="javascript:" onclick="addCart()">加入购物车</a>
                    <a href="javascript:" onclick="goBuy()">立即购买</a>
                }
            </div>
            <!--立即购买-->
            <a class="buy" href="javascript:" onclick="goBuy()">立即购买</a>
            <!--加入购物车-->
            <a class="add" href="javascript:" onclick="addCart()">加入购物车</a>

        </div>
    </div>
    <!--客服弹出层-->
    <div class="ke-fu">
        @{Html.RenderAction("Serviselist", "Index",Detail.MerchantTBID);}
    </div>
    <!--点击省略时出现的弹窗-->
    <div class="omitAlert">
        <img src="~/images/activity/toptriangle.png" class="toptriangle" />
        <ul>
            <a href="/index/index"><li><i class="iconfont">&#xe600;</i><span>首页</span></li></a>
            <a href="/user/personal"><li style="border-bottom:none;"><i class="iconfont">&#xe603;</i><span>个人中心</span></li></a>
            @*<li class="merchantShare"><i class="iconfont">&#xe606;</i><span>分享</span></li>*@
        </ul>
    </div>

    <div class="kanjia_zhezao">
        <img class="guanbi" src="/images/Activity/guan-bi.png">
        <img class="kanjia_guizhe_toubu" src="~/images/Activity/kanjia_2.png">
        <div class="kanjia_guizhe_div">
            <h3>— 砍价规则 —</h3>
            @Html.Raw(ViewBag.Rule)

        </div>
    </div>

    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <!-- Background of PhotoSwipe.
             It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>
        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">
            <!-- Container that holds slides.
                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                          <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>

    @{Html.RenderAction("Receive", "Card", new { GoodsDetail = Detail });}
    @{Html.RenderAction("ShareGoods", "Card", Detail);}

    @section JsCode{
        <script src="/js/photoswipe/photoswipe.min.js" type="text/javascript"></script>
        <script src="/js/photoswipe/photoswipe-ui-default.min.js" type="text/javascript"></script>
        <script src="/js/idangerous.swiper.js"></script>
        <script src="/js/goods/goodsdetails.js?v7=@version"></script>
    }

<!--分享_start-->
@Scripts.Render("/js/share")
<script>
    var url = '@ViewBag.ShareUrl';
    var ss = url.replace(/\amp;/g, "");
    WxShare('@ViewBag.ShareTitle', '@ViewBag.ShareDesc', '@ViewBag.ShareImg', ss);
</script>

<script>
    var time_time='@Request.QueryString["time_time"]';//接收上一页面的秒数
    if(time_time){
        var viewTime=Number(time_time);
        var timer = setInterval(function () {
            viewTime++;
            localStorage.taskViewTime=viewTime;//将时间存入本地
            if (viewTime >= 60) {
                //向后端发送完成任务请求
                clearInterval(timer);
                //完成任务
                var IntegralTaskTBID = '@Request.QueryString["IntegralTaskTBID"]';
                $.ajax({
                    type: "POST",
                    data: { IntegralTaskTBID: IntegralTaskTBID },
                    url: "/Signin/FinishTask",
                    dataType: "json",
                    success: function (result) {

                    }
                })
            }
        }, 1000);
    }
</script>

<!--数据统计 浏览-->
<script src="/js/Index/dataStatistics.js"></script>
<script>

    $(function () {
        InsertAccessRecord('1005','@Request.QueryString["ProductID"]','');

        // 设置 视频播放 poster 为第一张图片
        // videoHandle;
        (function (video) {
            if (!video) return;
            var img = document.querySelectorAll('.J-slide img')[0];
            var videoBoxWidth = window.screen.availWidth;
            var videoBoxHeight = videoBoxWidth;
            video.poster = img.src;

            // 向下滑动距离超过视频高度 1 /3 的时候，暂停
            var scrollTop = 0;
            window.addEventListener('scroll', function () {
                scrollTop = document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop;
                var temp = videoBoxHeight / 3;
                if (!video.paused && scrollTop > temp) {
                    video.pause();
                }
            }, false);

            video.addEventListener('loadeddata', function () {
                window.videoRatio = video.videoWidth / video.videoHeight;
                $(video).show();
            }, false);

            // 终端识别, 安卓的 回滚 遮罩 层级 等各种处理
            if (navigator.userAgent.indexOf('Android') > -1 || navigator.userAgent.indexOf('Linux') > -1) {// 安卓
                var canvas = $('#myCanvas')[0];
                var context = canvas.getContext('2d');

                // 绘制 poster
                var imgRatio = img.width / img.height;
                canvas.style.width = videoBoxWidth + 'px';
                canvas.style.height = videoBoxWidth / imgRatio + 'px';
                console.log(img);
                context.clearRect(0, 0, canvas.width, canvas.width);// 绘制前，先清除
                context.drawImage(img, 0, 0, canvas.width, canvas.height);

                var videoMask = document.querySelector('.video-mask');
                $(videoMask).show();
                $(video).hide();
                video.removeAttribute('controls');
                videoMask.addEventListener('click', function (event) {// 视频播放
                    $(video).show();
                    $(video).attr('controls', 'controls');
                    video.play();
                    $(videoMask).hide();
                    $(video).addClass('swiper-no-swiping');

                    $('.J-videoplay-hide').hide();
                }, false);

                // 暂停的时候，页面会向上回滚一段距离，修复这个问题
                video.addEventListener('pause', function (event) {// 视频暂停

                    // alert('pause');
                    if (navigator.userAgent.toLowerCase().match(/MicroMessenger/i)=="micromessenger") return;
                    // canvas 暂停保留当前帧
                    if (context) {
                        context.clearRect(0, 0, canvas.width, canvas.width);// 绘制前，先清除
                        canvas.style.width = videoBoxWidth + 'px';
                        canvas.style.height = videoBoxWidth / videoRatio + 'px';
                        
                        context.drawImage(video, 0, 0, canvas.width, canvas.height);
                    } else {
                        // 不支持该渲染上下文
                    }

                    $(window).scrollTop(scrollTop);
                    video.removeAttribute('controls');
                    $(video).hide().removeClass('swiper-no-swiping');
                    $(videoMask).show();

                    $('.J-videoplay-hide').show();
                }, false);


                // x5 安卓微信全屏处理
                if (navigator.userAgent.toLowerCase().match(/MicroMessenger/i)=="micromessenger") {
                    video.addEventListener('x5videoexitfullscreen', function (event) {// 退出全屏
                        context.clearRect(0, 0, canvas.width, canvas.width);// 绘制前，先清除
                        videoMask.style.background = 'rgba(0,0,0,0)';

                        $(window).scrollTop(scrollTop);
                        video.removeAttribute('controls');
                        // $(video).hide();
                        $(video).removeClass('swiper-no-swiping');
                        $(videoMask).show();

                        $('.J-videoplay-hide').show();
                    }, false);
                }
            }
        }(document.querySelector('.video-pic video')));

        window.onbeforeunload = function () {
            UpdateAccessBrowseTime('1005');
        }
        window.onunload=function(){
        }
    })
</script>